{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} About {% endblock %}</h1>
    <p>Runners using a coach or following a specific training plan will receive workouts at a prescribed running pace intended to create physiological adaptation. 
        If the weather is too hot or humid the originally prescribed pace will be too difficult to illicit the desired adaptation or to complete at all. 
        Pace calculator helps runners adjust their running pace to fit the local weather conditions. It uses the National Weather Service's API to retrieve the forecast for the user's zip code. 
        Pace calculator is an academic project meant to demonstrate the use of testing, monitoring, and reporting for a microservice architecture. </p>
{% endblock %}